<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C5103AQFdz34KjfTNng/profile-displayphoto-shrink_200_200/0/1544507698095?e=1613001600&v=beta&t=N3o1ke_PKrvvumFHBwSzB4vvioDpQQ-6_3Yr59_Fvdc" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Vishal Nikam</h5>
            <div class="card-text text-black-50">FrontEnd Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C5103AQGNP_iDeHKqxA/profile-displayphoto-shrink_200_200/0/1544782758565?e=1613001600&v=beta&t=bEWp-XZF5ECo1tEVv1qqUV6qdkshsplgGyQgKd5RHcE" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Santosh Aland</h5>
            <div class="card-text text-black-50">FrontEnd Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF34Ekx2R4uPw/profile-displayphoto-shrink_200_200/0/1604836303336?e=1613001600&v=beta&t=ECLo4AnqQ9g0CPA-WAD3B6QZxHm9rUp7Uo5oynCMbtA" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Aishwarya Murkute</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      
       <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C5103AQG9pmAQ9KPk0A/profile-displayphoto-shrink_200_200/0/1553532415244?e=1613001600&v=beta&t=b2ddq7o_KfwnfZrj6y-hsl6oYdBvOg6bn0L-9SxaP0w" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Minal Kulkarni</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
    <!-- /.row -->

    <!-- Team Member 5 -->
      
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFkKxznKGNzxQ/profile-displayphoto-shrink_200_200/0/1529316995064?e=1613001600&v=beta&t=RTvLpJYJ3m8-6Y1JBGW22ZdOYBnNdpmePLeXheGH-HM" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Prajakta Bhamre</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
    <!-- /.row -->

    <!-- Team Member 6 -->
      
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C5103AQFBUvmhKQdWwQ/profile-displayphoto-shrink_200_200/0/1550945413581?e=1613001600&v=beta&t=DJUkrilkGbCRTHS4aQ5vBlsH7hyqDSObCkNCk7-dWa8" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Rupali Patil</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
    <!-- /.row -->

    <!-- Team Member 7 -->
      
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C5103AQFml9RwyFh5TA/profile-displayphoto-shrink_200_200/0/1542204972860?e=1613001600&v=beta&t=Srzb56Z792USBa0if67Kh6H4pKItechrdrbWf1UqBGY" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Aditya Dhapote</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->